.input{
    height: 75px;
    border-radius: 15px;
    margin: 0 10px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    font-size: 3.5rem;
    background-color: rgb(52, 49, 49);
    color: rgb(15, 147, 33);
    padding: 11px;
    padding-right: 30px;
    margin: 1px solid #888;
    box-shadow: -1px 4px 1px 1px white;
}