.App{
  height: 100vh;
  padding-top: 0px;
  background-color: rgb(92, 183, 90);
  font-family: lato;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title{
  font-size: 4rem;
  margin: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.contenedor-calculadora{
  width: 400px;
  height: 600px;
  padding: 14px;
  background-color: rgb(82, 82, 82);
  border-radius: 20px;
  border: 5px solid black;
}

.fila{
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

